html body {

    color: white;
    font-family: Arial, Helvetica, sans-serif
}

fieldset {
    border: 3px solid rgb(255, 232, 57);
    width: 400px;
    margin: auto;
    background-color: #2f393b;
    height: auto
}

legend {
    padding: 20px;

    color: white;
    font-size: 24;

}

.container {

    background: url("back4.jpg") no-repeat center center/cover;
    height: 100%;

}

label {
    color: white;
}

#motivation {
    margin: 20px;
    height: 150px;
}

div {

    padding: 0px 20px;
}


#css {
    padding: 30px 0px;
}

#submit-button {
        display: block;
        width: 125px;
        margin-left: auto;
        margin-right: auto;
    }
}
